body{
	text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 12px;
}

h2{
	margin: 24px 0 6px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

td:hover{
    cursor: pointer;
}

input[type=number] {
    width: 6em;
}
