body{
	text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 71px;
    margin: 13px;
}

h2{
	margin: 25px 0 6px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 21px;
}

td {
    width: 21px;
}

input[type=number] {
    width: 6em;
}
